@{
    ViewData["Title"] = "Hash Comparison Tool";
}
@model hash_comparison_tool.Models.StudentViewModel
<noscript>
    <h1>Please enable JavaScript. This tool uses 100% free JavaScript. View page source for license and code.</h1>
    <h2>Version 1.0.0<br>Learn how to verify the integrity and authenticity of this tool at the <a href="https://github.com/sprin/TrustyHash">TrustyHash homepage</a>.</h2>
    <div id="noscript-overlay"></div>
</noscript>
<form action="#" method="post" enctype="multipart/form-data" id="submissionDetails">
    <label for="file">Filename:</label>
    <input type="file" class="file-upload" name="CSVSelect" id="CSVSelect" />
    <input type="submit" id="CSVUpload" value="Upload Data" disabled/>
</form>
<form action="#" method="post" enctype="multipart/form-data" id="generatedHashes">
    <input type="hidden" id="fooField" name="fooField" value="bar" />
    <input type="submit" id="hashsubmit" value="Upload Hashes" disabled asp-action="GetHashesPerQuestion" />
</form>
<div data-l10n-id="drop-area-label" id="drop-area">Drop files here</div>
<form action="#" method="post" enctype="multipart/form-data" id="runComparison">
    <input type="submit" id="runComparisonButton" value="Run Comparison" disabled asp-action="RunComparison" />
</form>
<p>
    <a href="#" onclick="download_table_as_csv('studentData');">Download as CSV</a>
    <button onclick="clearResult()">clear table</button>
    <table id="studentData">
        @if (Model.Students.Count > 0)
        {
            <tr>
                <th>Username</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>CID</th>
                @foreach (var question in Model.Students[0].SubmissionIDs)
                {
                    <th>@question.QuestionNumber.ToString()</th>
                    <th>Hash</th>
                    <th>Question Match</th>
                }
            </tr>
            foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Username.ToString()</td>
                    <td>@student.LastName.ToString()</td>
                    <td>@student.FirstName.ToString()</td>
                    <td>@student.CID.ToString()</td>
                    @foreach (var question in student.SubmissionIDs)
                    {
                        <td>@question.QuestionNumber.ToString()</td>
                        <td>@question.Hash.ToString()</td>
                        if (question.QuestionMatch.Any())
                        {
                            <td>@question.QuestionMatch.Aggregate((i, j) => i + ", " + j)</td>
                        }
                        else
                        {
                            <td>No Match</td>
                        }
                    }
                </tr>
            }
        }
    </table>
    <div id="count"></div>
    <div id="container"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    $("#submissionDetails").on('submit', function (event) {
        event.preventDefault();
        // create form data
        var formData = new FormData();
        //grab the file that was provided by the user
        var file = $('.file-upload')[0].files[0];
        // Loop through each of the selected files.
        formData.append('file', file);
        if (file) {
            // Perform the ajax post
            $.ajax({
                url: '@Url.Action("ParseCsv")',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        if (document.getElementById('hashsubmit').disabled == false) {
                            document.getElementById('runComparisonButton').disabled = false;
                        }
                    } else {
                        document.getElementById('CSVSelect').value = "";
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    //alert("error!");  // 
                }
            });
        }
    });
    </script>
    <script type="text/javascript">
            $("#generatedHashes").on('submit', function (event) {
                event.preventDefault();
                if (document.getElementById('CSVUpload').disabled == false) {
                    document.getElementById('runComparisonButton').disabled = false;
                }
                var formData = new FormData();
                var data = document.getElementById("fooField").value;
                formData.set("generatedhashes", data);
            $.ajax({
                url: '@Url.Action("GetHashesPerQuestion")',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    //alert(data);
                }
            });
        });
    </script>

